header{
  background-color: #343e3d;
  width: 600px;
  height: 65px;
  padding: 20px;
  border-bottom: : 22px;
  font-family: sans-serif;
  font
  text-align: center;


}
h1 {
  color: #cfffe4
}
p {
  width: 600px;
  font-style: normal;

}
